.custom-background {
  background-image: url(../images/background/bolsadevalores.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}